.customer-information-details-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.customer-information-details-customerinformationdetails {
  gap: 10px;
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 242, 222, 1);
}
.customer-information-details-rectangle12 {
  top: -116px;
  left: 0px;
  width: 1921px;
  height: 1254px;
  position: absolute;
}
.customer-information-details-rectangle5 {
  top: 152px;
  left: 657px;
  width: 622px;
  height: 769px;
  position: absolute;
  border-radius: 59px;
}
.customer-information-details-rectangle51 {
  top: 822px;
  left: 1026px;
  width: 156px;
  height: 51px;
  position: absolute;
}
.customer-information-details-text {
  top: 355px;
  left: 733px;
  color: rgba(91, 88, 88, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.customer-information-details-text02 {
  top: 468px;
  left: 733px;
  color: rgba(91, 88, 88, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.customer-information-details-text04 {
  top: 584px;
  left: 729px;
  color: rgba(91, 88, 88, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.customer-information-details-text06 {
  top: 680px;
  left: 731px;
  color: rgba(91, 88, 88, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.customer-information-details-text08 {
  top: 279px;
  left: 777px;
  color: rgba(91, 88, 88, 0.8199999928474426);
  width: 365px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.customer-information-details-text10 {
  top: 227px;
  left: 744px;
  color: rgba(0, 0, 0, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.customer-information-details-text12 {
  top: 830px;
  left: 1078px;
  color: rgba(255, 255, 255, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.customer-information-details-draw-kitonlineshopping-illustration112 {
  top: 122px;
  left: 159px;
  width: 581px;
  height: 691px;
  position: absolute;
}
.customer-information-details-draw-kitonlineshopping-illustration052 {
  top: 413px;
  left: 1142px;
  width: 719px;
  height: 585px;
  position: absolute;
}
.customer-information-details-textinput {
  top: 504px;
  left: 730px;
  position: absolute;
}
.customer-information-details-textinput1 {
  top: 620px;
  left: 727px;
  position: absolute;
}
.customer-information-details-textinput2 {
  top: 720px;
  left: 730px;
  position: absolute;
}
.customer-information-details-textinput3 {
  top: 391px;
  left: 731px;
  position: absolute;
}
