.kaos1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kaos1-desktop4 {
  gap: 10px;
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
  background-color: rgba(245, 242, 222, 1);
}
.kaos1-maletshirtbluenavy2 {
  top: 131px;
  left: 176px;
  width: 629px;
  height: 672px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-blacktshirtmale1 {
  top: 824px;
  left: 677px;
  width: 128px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-maletshirtshortyellow {
  top: 824px;
  left: 176px;
  width: 135px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-text {
  top: 134px;
  left: 874px;
  color: rgba(0, 0, 0, 1);
  width: 875px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text02 {
  top: 53px;
  left: 176px;
  color: rgba(93, 90, 90, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text04 {
  top: 292px;
  left: 871px;
  color: rgba(166, 161, 161, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 46px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text06 {
  top: 359px;
  left: 874px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text08 {
  top: 365px;
  left: 1356px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text10 {
  top: 521px;
  left: 874px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-rectangle7 {
  top: 423px;
  left: 876px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-rectangle8 {
  top: 423px;
  left: 957px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-rectangle9 {
  top: 423px;
  left: 1119px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-rectangle10 {
  top: 423px;
  left: 1200px;
  width: 60px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-rectangle11 {
  top: 423px;
  left: 1038px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-text12 {
  top: 436px;
  left: 888px;
  color: rgba(107, 104, 104, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text13 {
  top: 436px;
  left: 965px;
  color: rgba(107, 104, 104, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text14 {
  top: 436px;
  left: 1053px;
  color: rgba(107, 104, 104, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text15 {
  top: 436px;
  left: 1128px;
  color: rgba(107, 104, 104, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text17 {
  top: 436px;
  left: 1204px;
  color: rgba(107, 104, 104, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-ellipse4 {
  top: 426px;
  left: 1353px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kaos1-ellipse5 {
  top: 426px;
  left: 1515px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kaos1-ellipse6 {
  top: 426px;
  left: 1433px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kaos1-ellipse7 {
  top: 426px;
  left: 1598px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kaos1-ellipse8 {
  top: 426px;
  left: 1683px;
  width: 52px;
  height: 53px;
  position: absolute;
}
.kaos1-rectangle36 {
  top: 615px;
  left: 874px;
  width: 227px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.kaos1-rectangle37 {
  top: 615px;
  left: 874px;
  width: 54px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.kaos1-rectangle38 {
  top: 615px;
  left: 1051px;
  width: 54px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.kaos1-group6 {
  top: 619px;
  left: 1066px;
  width: 30px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.kaos1-text19 {
  font-size: 40px;
  text-transform: capitalize;
}
.kaos1-line9 {
  top: 645px;
  left: 886px;
  width: 30px;
  height: 1px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #000000;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.kaos1-rectangle4 {
  top: 726px;
  left: 874px;
  width: 386px;
  height: 98px;
  position: absolute;
}
.kaos1-rectangle39 {
  top: 726px;
  left: 1353px;
  width: 386px;
  height: 98px;
  position: absolute;
}
.kaos1-cart-add4 {
  top: 742px;
  left: 911px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.kaos1-text20 {
  top: 757px;
  left: 994px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-text22 {
  top: 759px;
  left: 1486px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kaos1-navlink {
  display: contents;
}
.kaos1-arrow4 {
  top: 120px;
  left: 64px;
  width: 70px;
  height: 42px;
  position: absolute;
  text-decoration: none;
}
.kaos1-maletshirtshortbrown {
  top: 824px;
  left: 342px;
  width: 135px;
  height: 178px;
  position: absolute;
  border-radius: 16px;
}
.kaos1-maletshirtshortwhiteini1 {
  top: 960px;
  left: 624px;
  width: 0px;
  height: 0px;
  position: absolute;
}
.kaos1-maletshirtshortwhiteini2 {
  top: 824px;
  left: 508px;
  width: 147px;
  height: 178px;
  position: absolute;
  border-radius: 16px;
}
