.kemeja2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kemeja2-kemeja2 {
  gap: 10px;
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(245, 242, 222, 1);
}
.kemeja2-text {
  top: 163px;
  left: 888px;
  color: rgba(0, 0, 0, 1);
  width: 875px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text02 {
  top: 53px;
  left: 190px;
  color: rgba(93, 90, 90, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text04 {
  top: 319px;
  left: 888px;
  color: rgba(166, 161, 161, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 46px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text06 {
  top: 375px;
  left: 887px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text08 {
  top: 372px;
  left: 1369px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text10 {
  top: 563px;
  left: 890px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-rectangle7 {
  top: 423px;
  left: 890px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-rectangle8 {
  top: 423px;
  left: 971px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-rectangle9 {
  top: 423px;
  left: 1133px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-rectangle10 {
  top: 423px;
  left: 1214px;
  width: 60px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-rectangle11 {
  top: 423px;
  left: 1052px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-text12 {
  top: 442px;
  left: 902px;
  color: rgba(107, 104, 104, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text13 {
  top: 442px;
  left: 979px;
  color: rgba(107, 104, 104, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text14 {
  top: 442px;
  left: 1067px;
  color: rgba(107, 104, 104, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text15 {
  top: 442px;
  left: 1139px;
  color: rgba(107, 104, 104, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text17 {
  top: 442px;
  left: 1218px;
  color: rgba(107, 104, 104, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-ellipse4 {
  top: 426px;
  left: 1367px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kemeja2-ellipse5 {
  top: 426px;
  left: 1529px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kemeja2-ellipse6 {
  top: 426px;
  left: 1447px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kemeja2-ellipse7 {
  top: 426px;
  left: 1612px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.kemeja2-ellipse8 {
  top: 426px;
  left: 1697px;
  width: 52px;
  height: 53px;
  position: absolute;
}
.kemeja2-rectangle36 {
  top: 615px;
  left: 888px;
  width: 227px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.kemeja2-rectangle37 {
  top: 615px;
  left: 888px;
  width: 54px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.kemeja2-rectangle38 {
  top: 615px;
  left: 1065px;
  width: 54px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.kemeja2-group6 {
  top: 629px;
  left: 1076px;
  width: 31.998830795288086px;
  height: 32.000701904296875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.kemeja2-line7 {
  top: 0px;
  left: 16.000350952148438px;
  width: 32px;
  height: 1px;
  position: absolute;
}
.kemeja2-group61 {
  top: 629px;
  left: 1076px;
  width: 31.998830795288086px;
  height: 32.000701904296875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.kemeja2-line71 {
  top: 0px;
  left: 16.000350952148438px;
  width: 32px;
  height: 1px;
  position: absolute;
}
.kemeja2-group62 {
  top: 629px;
  left: 1076px;
  width: 31.998830795288086px;
  height: 32.000701904296875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.kemeja2-line72 {
  top: 0px;
  left: 16.000350952148438px;
  width: 32px;
  height: 1px;
  position: absolute;
}
.kemeja2-group63 {
  top: 629px;
  left: 1076px;
  width: 31.998830795288086px;
  height: 32.000701904296875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.kemeja2-line73 {
  top: 0px;
  left: 16.000350952148438px;
  width: 32px;
  height: 1px;
  position: absolute;
}
.kemeja2-icon {
  width: 24px;
  height: 24px;
}
.kemeja2-group64 {
  top: 631px;
  left: 904px;
  width: 31.998830795288086px;
  height: 32.000701904296875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.kemeja2-line74 {
  top: 0px;
  left: 16.000350952148438px;
  width: 32px;
  height: 1px;
  position: absolute;
}
.kemeja2-icon2 {
  width: 24px;
  height: 24px;
}
.kemeja2-group65 {
  top: 659px;
  left: 1106px;
  width: 31.998830795288086px;
  height: 32.000701904296875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.kemeja2-line75 {
  top: 0px;
  left: 16.000350952148438px;
  width: 32px;
  height: 1px;
  position: absolute;
}
.kemeja2-line9 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.kemeja2-rectangle4 {
  top: 726px;
  left: 888px;
  width: 386px;
  height: 98px;
  position: absolute;
}
.kemeja2-rectangle39 {
  top: 726px;
  right: 167px;
  width: 386px;
  height: 98px;
  position: absolute;
}
.kemeja2-cart-add4 {
  top: 742px;
  left: 925px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.kemeja2-text19 {
  top: 755px;
  left: 1011px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-text21 {
  top: 755px;
  left: 1500px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.kemeja2-femaleshirtyellow {
  top: 155px;
  left: 206px;
  width: 601px;
  height: 630px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-femalebrownshirt {
  top: 824px;
  left: 206px;
  width: 118px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-femalewhiteshirt {
  top: 824px;
  left: 370px;
  width: 116px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-femalenavyshirt {
  top: 824px;
  left: 531px;
  width: 116px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-femaleblackshirt {
  top: 824px;
  left: 691px;
  width: 116px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.kemeja2-navlink {
  display: contents;
}
.kemeja2-arrow4 {
  top: 109px;
  left: 98px;
  width: 70px;
  height: 42px;
  position: absolute;
  text-decoration: none;
}
