.warehouse-menu-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.warehouse-menu-warehousemenu {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(236, 228, 183, 1);
}
.warehouse-menu-rectangle7 {
  top: 228px;
  left: -133px;
  width: 296px;
  height: 1141px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.warehouse-menu-text {
  top: 93px;
  left: 51px;
  color: rgba(221, 96, 49, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-rectangle12 {
  top: 89px;
  left: 466px;
  width: 417px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-rectangle14 {
  top: 570px;
  left: 328px;
  width: 1302px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-rectangle19 {
  top: 228px;
  left: 1378px;
  width: 417px;
  height: 198px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-text02 {
  top: 263px;
  left: 1428px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text04 {
  top: 327px;
  left: 1426px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text06 {
  top: 363px;
  left: 1428px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-rectangle20 {
  top: 582px;
  left: 1351px;
  width: 195px;
  height: 45px;
  position: absolute;
}
.warehouse-menu-rectangle18 {
  top: 946px;
  left: 328px;
  width: 1302px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-rectangle17 {
  top: 852px;
  left: 328px;
  width: 1302px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-rectangle16 {
  top: 758px;
  left: 328px;
  width: 1302px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-rectangle15 {
  top: 664px;
  left: 328px;
  width: 1302px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-rectangle13 {
  top: 96px;
  left: 1091px;
  width: 417px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-menu-text08 {
  top: 105px;
  left: 496px;
  color: rgba(137, 133, 133, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text10 {
  top: 114px;
  left: 1165px;
  color: rgba(137, 133, 133, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-ellipse1 {
  top: 366px;
  left: 14px;
  width: 88px;
  height: 88px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: content-box;
}
.warehouse-menu-profile-free-icon1 {
  top: 363px;
  left: 14px;
  width: 88px;
  height: 88px;
  position: absolute;
}
.warehouse-menu-rectangle71 {
  top: 508px;
  left: 119px;
  width: 10px;
  height: 68px;
  position: absolute;
}
.warehouse-menu-find-product1 {
  top: 111px;
  left: 828px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.warehouse-menu-text12 {
  top: 420px;
  left: 328px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text14 {
  top: 496px;
  left: 393px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text16 {
  top: 587px;
  left: 393px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text18 {
  top: 776px;
  left: 381px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text20 {
  top: 869px;
  left: 381px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text22 {
  top: 963px;
  left: 381px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text24 {
  top: 683px;
  left: 384px;
  color: rgba(0, 0, 0, 1);
  width: 417px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text26 {
  top: 586px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text28 {
  top: 776px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text30 {
  top: 960px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text32 {
  top: 869px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text34 {
  top: 681px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text36 {
  top: 584px;
  left: 1400px;
  color: rgba(255, 255, 255, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text38 {
  top: 586px;
  left: 769px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text39 {
  top: 774px;
  left: 769px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text40 {
  top: 870px;
  left: 769px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text41 {
  top: 960px;
  left: 769px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text42 {
  top: 681px;
  left: 769px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text43 {
  top: 496px;
  left: 746px;
  color: rgba(0, 0, 0, 1);
  width: 417px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text45 {
  top: 496px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-text47 {
  top: 496px;
  left: 1368px;
  color: rgba(0, 0, 0, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-arrow1 {
  top: 521px;
  left: 1488px;
  width: 23px;
  height: 1px;
  position: absolute;
}
.warehouse-menu-rectangle21 {
  top: 678px;
  left: 1351px;
  width: 195px;
  height: 45px;
  position: absolute;
}
.warehouse-menu-rectangle22 {
  top: 774px;
  left: 1351px;
  width: 195px;
  height: 45px;
  position: absolute;
}
.warehouse-menu-text49 {
  top: 683px;
  left: 1418px;
  color: rgba(255, 255, 255, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-cashon-delivey1 {
  top: 281px;
  left: 1677px;
  width: 101px;
  height: 92px;
  position: absolute;
}
.warehouse-menu-text51 {
  top: 777px;
  left: 1411px;
  color: rgba(255, 255, 255, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-rectangle23 {
  top: 958px;
  left: 1351px;
  width: 195px;
  height: 45px;
  position: absolute;
}
.warehouse-menu-text53 {
  top: 962px;
  left: 1387px;
  color: rgba(255, 255, 255, 1);
  width: 417px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-rectangle25 {
  top: 860px;
  left: 1351px;
  width: 195px;
  height: 45px;
  position: absolute;
}
.warehouse-menu-text55 {
  top: 864px;
  left: 1420px;
  color: rgba(255, 255, 255, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-menu-navlink {
  display: contents;
}
.warehouse-menu-package1 {
  top: 838px;
  left: 33px;
  width: 65px;
  height: 69px;
  position: absolute;
  text-decoration: none;
}
.warehouse-menu-navlink1 {
  display: contents;
}
.warehouse-menu-mobile-ecommerce1 {
  top: 665px;
  left: 32px;
  width: 69px;
  height: 74px;
  position: absolute;
  text-decoration: none;
}
.warehouse-menu-menuicon61 {
  top: 481px;
  left: 5px;
  width: 120px;
  height: 123px;
  position: absolute;
}
