.login-successful-admin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-successful-admin-loginberhasil {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 242, 222, 1);
}
.login-successful-admin-vector {
  right: 632px;
  width: 826px;
  bottom: 254px;
  height: 702px;
  position: absolute;
}
.login-successful-admin-rectangle5 {
  top: 176px;
  left: 634px;
  width: 564px;
  height: 624px;
  position: absolute;
  border-radius: 59px;
}
.login-successful-admin-rectangle4 {
  top: 624px;
  left: 808px;
  width: 184px;
  height: 48px;
  position: absolute;
}
.login-successful-admin-text {
  top: 630px;
  left: 879px;
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.login-successful-admin-text2 {
  top: 518px;
  left: 730px;
  color: rgba(0, 0, 0, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.login-successful-admin-draw-kitonlineshopping-illustration112 {
  top: 217px;
  left: 163px;
  width: 581px;
  height: 691px;
  position: absolute;
}
.login-successful-admin-draw-kitonlineshopping-illustration052 {
  top: 378px;
  left: 1037px;
  width: 719px;
  height: 585px;
  position: absolute;
}
.login-successful-admin-illust58646601removebgpreview1 {
  top: 295px;
  left: 808px;
  width: 200px;
  height: 200px;
  position: absolute;
}
