.sweater2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sweater2-sweater2 {
  gap: 10px;
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 242, 222, 1);
}
.sweater2-maletshirtshortwhiteini {
  top: 4404px;
  left: 517px;
  width: 128px;
  height: 177px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-femalewhitesweater1 {
  top: 131px;
  left: 199px;
  width: 625px;
  height: 672px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-text {
  top: 163px;
  left: 894px;
  color: rgba(0, 0, 0, 1);
  width: 884px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text02 {
  top: 61px;
  left: 216px;
  color: rgba(93, 90, 90, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text04 {
  top: 314px;
  left: 894px;
  color: rgba(166, 161, 161, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 46px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text06 {
  top: 375px;
  left: 899px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text08 {
  top: 372px;
  left: 1382px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text10 {
  top: 567px;
  left: 897px;
  color: rgba(55, 54, 54, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-rectangle7 {
  top: 423px;
  left: 899px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-rectangle8 {
  top: 423px;
  left: 980px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-rectangle9 {
  top: 423px;
  left: 1142px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-rectangle10 {
  top: 423px;
  left: 1223px;
  width: 60px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-rectangle11 {
  top: 423px;
  left: 1061px;
  width: 51px;
  height: 64px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-text12 {
  top: 436px;
  left: 911px;
  color: rgba(107, 104, 104, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text13 {
  top: 436px;
  left: 988px;
  color: rgba(107, 104, 104, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text14 {
  top: 436px;
  left: 1076px;
  color: rgba(107, 104, 104, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text15 {
  top: 436px;
  left: 1148px;
  color: rgba(107, 104, 104, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text17 {
  top: 436px;
  left: 1227px;
  color: rgba(107, 104, 104, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-ellipse4 {
  top: 426px;
  left: 1376px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.sweater2-ellipse5 {
  top: 426px;
  left: 1538px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.sweater2-ellipse6 {
  top: 426px;
  left: 1456px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.sweater2-ellipse7 {
  top: 426px;
  left: 1621px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.sweater2-ellipse8 {
  top: 426px;
  left: 1706px;
  width: 52px;
  height: 53px;
  position: absolute;
}
.sweater2-rectangle4 {
  top: 726px;
  left: 897px;
  width: 386px;
  height: 98px;
  position: absolute;
}
.sweater2-rectangle39 {
  top: 726px;
  left: 1376px;
  width: 386px;
  height: 98px;
  position: absolute;
}
.sweater2-cart-add4 {
  top: 742px;
  left: 934px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.sweater2-text19 {
  top: 755px;
  left: 1020px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-text21 {
  top: 758px;
  left: 1509px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.sweater2-femaleyellowsweater {
  top: 824px;
  left: 199px;
  width: 135px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-femalebrownsweater {
  top: 824px;
  left: 369px;
  width: 135px;
  height: 174px;
  position: absolute;
  border-radius: 15px;
}
.sweater2-femalenavysweater {
  top: 824px;
  left: 690px;
  width: 134px;
  height: 174px;
  position: absolute;
  border-radius: 15px;
}
.sweater2-navlink {
  display: contents;
}
.sweater2-arrow4 {
  top: 96px;
  left: 74px;
  width: 70px;
  height: 42px;
  position: absolute;
  text-decoration: none;
}
.sweater2-femaleblacksweater {
  top: 824px;
  left: 535px;
  width: 125px;
  height: 174px;
  position: absolute;
  border-radius: 16px;
}
.sweater2-rectangle36 {
  top: 610px;
  left: 897px;
  width: 227px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.sweater2-rectangle37 {
  top: 610px;
  left: 897px;
  width: 54px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.sweater2-rectangle38 {
  top: 610px;
  left: 1074px;
  width: 54px;
  height: 59px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(150, 141, 141, 1);
  border-style: solid;
  border-width: 1px;
}
.sweater2-group6 {
  top: 614px;
  left: 1089px;
  width: 30px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sweater2-text23 {
  font-size: 40px;
  text-transform: capitalize;
}
.sweater2-line9 {
  top: 640px;
  left: 909px;
  width: 30px;
  height: 1px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #000000;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
