.warehouse-package-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.warehouse-package-warehousepackage {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(236, 228, 183, 1);
}
.warehouse-package-rectangle27 {
  top: 981px;
  left: 328px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text {
  top: 979px;
  left: 344px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle30 {
  top: 735px;
  left: 753px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-rectangle31 {
  top: 735px;
  left: 753px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text02 {
  top: 737px;
  left: 770px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle29 {
  top: 988px;
  left: 1185px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text04 {
  top: 986px;
  left: 1201px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle28 {
  top: 984px;
  left: 755px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text06 {
  top: 986px;
  left: 772px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle32 {
  top: 735px;
  left: 1180px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text08 {
  top: 737px;
  left: 1195px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle21 {
  top: 877px;
  left: 1546px;
  width: 271px;
  height: 203px;
  position: absolute;
}
.warehouse-package-text10 {
  top: 921px;
  left: 1583px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle33 {
  top: 609px;
  left: 1532px;
  width: 271px;
  height: 203px;
  position: absolute;
}
.warehouse-package-text12 {
  top: 665px;
  left: 1585px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle34 {
  top: 982px;
  left: 1608px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text14 {
  top: 980px;
  left: 1624px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle35 {
  top: 729px;
  left: 1593px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text16 {
  top: 731px;
  left: 1608px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle7 {
  top: 228px;
  left: -133px;
  width: 296px;
  height: 1141px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.warehouse-package-text18 {
  top: 93px;
  left: 51px;
  color: rgba(221, 96, 49, 1);
  width: 326px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle12 {
  top: 93px;
  left: 504px;
  width: 417px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-package-navlink {
  display: contents;
}
.warehouse-package-rectangle14 {
  top: 330px;
  left: 266px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink01 {
  display: contents;
}
.warehouse-package-rectangle20 {
  top: 883px;
  left: 697px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink02 {
  display: contents;
}
.warehouse-package-rectangle211 {
  left: 1115px;
  width: 271px;
  bottom: -4px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink03 {
  display: contents;
}
.warehouse-package-rectangle17 {
  top: 610px;
  left: 266px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink04 {
  display: contents;
}
.warehouse-package-rectangle18 {
  top: 878px;
  left: 266px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink05 {
  display: contents;
}
.warehouse-package-rectangle19 {
  top: 615px;
  left: 697px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink06 {
  display: contents;
}
.warehouse-package-rectangle15 {
  top: 330px;
  left: 697px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-text20 {
  top: 387px;
  left: 736px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text22 {
  top: 662px;
  left: 736px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text24 {
  top: 927px;
  left: 1160px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text26 {
  top: 927px;
  left: 736px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text28 {
  top: 922px;
  left: 305px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-navlink07 {
  display: contents;
}
.warehouse-package-rectangle16 {
  top: 330px;
  left: 1116px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink08 {
  display: contents;
}
.warehouse-package-rectangle311 {
  top: 615px;
  left: 1119px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-rectangle13 {
  top: 92px;
  left: 1074px;
  width: 417px;
  height: 69px;
  position: absolute;
  border-radius: 20px;
}
.warehouse-package-text30 {
  top: 109px;
  left: 534px;
  color: rgba(137, 133, 133, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text32 {
  top: 110px;
  left: 1148px;
  color: rgba(137, 133, 133, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-ellipse1 {
  top: 323px;
  left: 16px;
  width: 88px;
  height: 88px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: content-box;
}
.warehouse-package-profile-free-icon1 {
  top: 322px;
  left: 16px;
  width: 88px;
  height: 88px;
  position: absolute;
}
.warehouse-package-rectangle71 {
  top: 833px;
  left: 143px;
  width: 10px;
  height: 68px;
  position: absolute;
}
.warehouse-package-find-product1 {
  top: 115px;
  left: 866px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.warehouse-package-text34 {
  top: 228px;
  left: 244px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-mobile-ecommerce2 {
  top: 681px;
  left: 30px;
  width: 69px;
  height: 74px;
  position: absolute;
}
.warehouse-package-package2 {
  top: 835px;
  left: 29px;
  width: 65px;
  height: 69px;
  position: absolute;
}
.warehouse-package-menuicon62 {
  top: 500px;
  left: 1px;
  width: 120px;
  height: 123px;
  position: absolute;
}
.warehouse-package-text36 {
  top: 384px;
  left: 312px;
  color: rgba(0, 0, 0, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text38 {
  top: 657px;
  left: 312px;
  color: rgba(0, 0, 0, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle26 {
  top: 453px;
  left: 323px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text40 {
  top: 453px;
  left: 356px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle271 {
  top: 453px;
  left: 323px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text42 {
  top: 453px;
  left: 356px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle281 {
  top: 726px;
  left: 319px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text44 {
  top: 726px;
  left: 352px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-navlink09 {
  display: contents;
}
.warehouse-package-rectangle321 {
  top: 330px;
  left: 1532px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-text46 {
  top: 377px;
  left: 1578px;
  color: rgba(0, 0, 0, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle331 {
  top: 446px;
  left: 1585px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text48 {
  top: 446px;
  left: 1618px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle291 {
  top: 453px;
  left: 757px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text50 {
  top: 453px;
  left: 790px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle301 {
  top: 453px;
  left: 1178px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text52 {
  top: 453px;
  left: 1211px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text54 {
  top: 387px;
  left: 1153px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text56 {
  top: 671px;
  left: 1172px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle36 {
  top: 981px;
  left: 328px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-rectangle39 {
  top: 983.5px;
  left: 1181px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-rectangle38 {
  top: 735px;
  left: 753px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text58 {
  top: 986px;
  left: 1194px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle37 {
  top: 735px;
  left: 753px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-rectangle40 {
  top: 984px;
  left: 755px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text60 {
  top: 986px;
  left: 772px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle41 {
  top: 735px;
  left: 1180px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text62 {
  top: 737px;
  left: 1195px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-navlink10 {
  display: contents;
}
.warehouse-package-rectangle42 {
  top: 877px;
  left: 1546px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-navlink11 {
  display: contents;
}
.warehouse-package-rectangle43 {
  top: 609px;
  left: 1532px;
  width: 271px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.warehouse-package-text64 {
  top: 921px;
  left: 1583px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-rectangle45 {
  top: 729px;
  left: 1593px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-rectangle44 {
  top: 982px;
  left: 1608px;
  width: 158px;
  height: 45px;
  position: absolute;
}
.warehouse-package-text66 {
  top: 665px;
  left: 1585px;
  color: rgba(0, 0, 0, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text68 {
  top: 980px;
  left: 1624px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text70 {
  top: 731px;
  left: 1608px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text72 {
  top: 737px;
  left: 770px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.warehouse-package-text74 {
  top: 979px;
  left: 344px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
